<div class="homedetail_header">
    <p class="header_title">
        <span class="glyphicon glyphicon-th-large"></span>
        <span>首页</span>
    </p>
    <ul class="detail_data">
        <li>
            <p class="detail_number">321</p>
            <p>内容</p>
        </li>
        <li>
            <p class="detail_number">43224</p>
            <p>会员</p>
        </li>
        <li>
            <p class="detail_number">432</p>
            <p>产品</p>
        </li>
        <li>
            <p class="detail_number">2844</p>
            <p>订单</p>
        </li>
    </ul>

    <div class="detail_vip">
        <div class="detail_vip_header">
            <div class="detail_vip_title">
                <span class="glyphicon glyphicon-user"></span>
                <span>最新会员</span>
            </div>
            <div class="detail_vip_status">
                <span>今日:144</span>
                <span>总计:142124</span>
            </div>
        </div>

        <div class="detail_vip_list">
                <dl>
                        <dt>
                            <img src="http://www.itsource.cn/img/new3/new2.jpg"  class="img-circle">
                        </dt>
                        <dd>小薇</dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="http://www.itsource.cn/img/new3/new2.jpg"  class="img-circle">
                        </dt>
                        <dd>小薇</dd>
                </dl>
                <dl>
                        <dt>
                            <img src="http://www.itsource.cn/img/new3/new2.jpg"  class="img-circle">
                        </dt>
                        <dd>小薇</dd>
                    </dl>
                    <dl>
                        <dt>
                            <img src="http://www.itsource.cn/img/new3/new2.jpg"  class="img-circle">
                        </dt>
                        <dd>小薇</dd>
                    </dl>
                    <dl>
                            <dt>
                                <img src="http://www.itsource.cn/img/new3/new2.jpg"  class="img-circle">
                            </dt>
                            <dd>小薇</dd>
                        </dl>
                        <dl>
                            <dt>
                                <img src="http://www.itsource.cn/img/new3/new2.jpg"  class="img-circle">
                            </dt>
                            <dd>小薇</dd>
                        </dl>
        </div>
    </div>
</div>